* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

header {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);
}

header img {
    padding: 0 1em;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

.shadow {
    text-shadow: 1px 1px 3px #800000;
}

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover {
    color: yellow;
}

main {
    padding: 0 1em;
    display: flex;
}

section {
    width: 70%;
}

aside {
    width: 30%;
}

article {
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    align-items: center;
}

article p {
    width:50%;
}

article h3 {
    width: 100%;
    margin: 0.1em 0;
}

article img {
    width: 45%;
    padding-left: 1em;
}

main h1 {
    font-size: 150%;
    padding: .1em;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em 1em 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:hover a:focus {
    font-style: italic;
}

footer {
    background-color: #931420;
}

footer p {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 1em 0;
}